@import 'colours';
@import 'footer';
@import 'header';
@import 'pre_dashboard';
@import 'inputs';

.page {
  // min-height: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  .page-container {
    flex: auto;
    display: flex;
    align-items: center;
  }

  .bg-Page {
    width: 340px;
    height: 680px;
    padding: 256px 30px 26px;
    background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
  }

  .page-container-full-height {
    margin-top: 10px;
    margin-bottom: 15px;
    flex: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}